<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset = "UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Feed</title>

    <th:block th:replace="/fragments/styleandscripts :: style_scripts" ></th:block>

</head>

<body>
    <div class="container">
        <div th:replace="/fragments/navbar"></div>
        <ul class="nav nav-tabs">
        	<li role="presentation" th:classappend="${filter == 'all' ? 'active' : ''}">
        		<a href = "/tweets">All</a>
        		
       		<li role="presentation" th:classappend="${filter == 'following' ? 'active' : ''}">
       		<a href = "/tweets?filter=following">Following</a>
       		</li>
        </ul>
        
        
        <h2>Tweets</h2>

        <div class="list-group" th:each="tweet:${tweetList}">
        <div class="list-group-item">
        <a class="username" th:href = "@{/users/} + ${tweet.user.username}">
            <h5>@<span th:text="${tweet.user.username}"></span></h5>
            </a>
            <h5><small th:text = "${tweet.date}"></small></h5>
            <p th:utext="${tweet.message}"></p>
        </div>
        </div>
        
        <div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
        <h3>No tweets to display</h3>
        
        </div>
        <div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
        <h3>No tweets to display from your followers</h3>
        </div>

    </div>

</body>


</html>